<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151891438999-6susbdjcpuu7a4esagcv3d6epvg2rfvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151891438999-6susbdjcpuu7a4esagcv3d6epvg2rfvo</string>
	<key>API_KEY</key>
	<string>AIzaSyB1lkGaGchZR6Jz646c400p9nxVT70ySTI</string>
	<key>GCM_SENDER_ID</key>
	<string>151891438999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lia.GameDove</string>
	<key>PROJECT_ID</key>
	<string>gamedove-3eec1</string>
	<key>STORAGE_BUCKET</key>
	<string>gamedove-3eec1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151891438999:ios:0e4d5a5de1f2efc42568d2</string>
</dict>
</plist>